body, html 
{
    height: 100%;
    margin: 0;
}

.indexBG
{
        position: absolute;
        width: 100%;
        height: 100%;
        height: 100%; 
        background-image: url("images/Rides.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 70% 100%;
        
}
.indexText
{
    position: absolute;
    width: 516.04px;
    height: 263.02px;
    float:left;
    left: 5%;
    top:20%;
     
    font-family: Hind;
    font-style: normal;
    font-weight: normal;
    font-size: 85px;
    line-height: 154px;
    display: flex;
    align-items: center;
    letter-spacing: -0.017em;

    color: #1F3351;
}
.body2
{
    position: absolute;
    Top:100%;
    Left:5%;
}

.TripTitle
{
    font-family: 'Hind';font-size: 30px;
    background-color: #EEEFF3;
    border-radius: 20%;
}
.OfferEventText
{
    
    font-family: 'Hind';
    font-size: 30px;
}

.body3
{
    position: absolute;
    Top:150%;
    Left:5%;
    border-radius: 20%;
}

.body4
{
    position: absolute;
    Top:200%;
    Left:5%;
    border-radius: 20%;
}
.AddTrip 
{
    width:30%;
    height: 30%;
}
.body5
{
    position: absolute;
    width: 70%;
    height: 80%;
    Top:280%;
    Left:15%;
    background: #FFFFFF;
    box-shadow: 2px 2px 50px rgba(0, 0, 0, 0.2)
    
}
.body6
{
    position: absolute;
    width: 70%;
    height: 80%;
    Top:380%;
    Left:15%;
    background: #FFFFFF;
    box-shadow: 2px 2px 50px rgba(0, 0, 0, 0.2)
    
}