#resDiv 
{
    width: 900px;
    height:650px;
    border: 5px solid rgba(192, 192, 192, 0.3);
    box-shadow: 5px 5px rgb(224,224,224);
    background-color: #F8F8F8
}
#printBtn 
{
    position: absolute;
    left: 1050px;
    top: 615px;
    font-family: IBM Plex Mono;
    line-height: 23px;
    text-align: center;
    color: white;
    background-color : #1A3E92;
    height: 30px;  
    border-radius: 17px;  
    padding-left: 7px;  
}
#printBtn:hover
{
    background-color:white;
    color:black;
}
#resData 
{
    width: 700px;
    height: 500px;
    border: 5px solid rgba(192, 192, 192, 0.3);
    background: #FFFFFF;
}
h1 
{
    font-family: IBM Plex Mono;
}