    #row1{
  
        background-image: url("./Images/ContactUs.png");
        background-size: 70% 100%;
        background-repeat: no-repeat;
        position: absolute;
        width: 100%;
        height: 120%;
        left:25%;
        filter: drop-shadow(1px 20px 40px rgba(0, 0, 0, 0.1));
   
   }
   .indexBG
   {
           position: absolute;
           width: 100%;
           height: 100%;
          
           background-image: url("images/ContactUs.png");
           height: 100%; 
           background-position: center;
           background-repeat: no-repeat;
           background-size: 70% 100%;
           
   }

   #CU{
        position: absolute;
        width: 516.04px;
        height: 263.02px;
        float:left;
        left: 100px;
        top:-12%;
         
        font-family: Hind;
        font-style: normal;
        font-weight: normal;
        font-size: 85px;
        line-height: 154px;
        display: flex;
        align-items: center;
        letter-spacing: -0.017em;
        margin-left: 20%;
        color: #1F3351;
    }
    
    #box{

        position: absolute;
        width: 1261px;
        height: 1579px;
        left: 12%;
        top: 100%;

        background: #FFFFFF;
        box-shadow: 2px 2px 50px rgba(0, 0, 0, 0.1);
    
    }

    label{
        position: absolute;
        width: 472px;
        height: 80px;
        float:left;
        left:10%;
        
        font-family: Hind;
        font-style: normal;
        font-weight: normal;
        font-size: 36px;
        line-height: 58px;
        display: flex;
        align-items: center;
        letter-spacing: -0.017em;
        color: #1F3351;
    }
    

    #text1{

        position: absolute;
        width: 758px;
        height: 65px;
        float:left;
        left:10%;
        top: 10%;
        border: none;
        padding-left: 8px;
        background: #E4E3E3;
    }    

    #text2{
        
        position: absolute;
        width: 758px;
        height: 65px;
        float:left;
        left:10%;
        top: 22%;
        border: none;
        padding-left: 8px;
        background: #E4E3E3;
    } 
 

    #text3{
        
        position: absolute;
        width: 758px;
        height: 65px;
        float:left;
        left:10%;
        top: 45%;
        border: none;
        padding-left: 8px;
        background: #E4E3E3;
    } 

    #text4{
        
        position: absolute;
        width: 758px;
        height: 250px;
        float:left;
        left:10%;
        top: 57%;
        border: none;
        padding-left: 8px;
        background: #E4E3E3;
    } 


    #gender{
        position: absolute;
        width: 16%;
        height: 3%;
        left:10%;
        top: 34%;
        border: none;
        padding-left: 8px;
        background: #E4E3E3;
    }


    #send{
        
        position: absolute;
        width: 12%;
        height: 3%;
        left: 45%;
        top: 80%;
        background-color: #1A3E92 ;
        color: white ;
        position: absolute;


        font-family: Hind;
        font-style: normal;
        font-weight: normal;
        font-size:25px;
        line-height: 48px;
        text-align: center;
        border: none;
        border-radius: 5px;
        color: #FFFCFC;
    }

