    #row1{
  
        background-image: url("./Images/ContactUs.png");
        background-size: 70% 100%;
        background-repeat: no-repeat;
        position: absolute;
        width: 100%;
        height: 120%;
        left:25%;
        filter: drop-shadow(1px 20px 40px rgba(0, 0, 0, 0.1));
   
   }


   #CU{
        position: absolute;
        width: 516.04px;
        height: 263.02px;
        float:left;
        left: -250px;
        top:10%;
         
        font-family: Hind;
        font-style: normal;
        font-weight: normal;
        font-size: 96px;
        line-height: 154px;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: -0.017em;

        color: #1F3351;
    }
    
    #box{

        position: absolute;
        width: 80%;
        height: 80%;
        left: 15%;
        top: 100%;

        background: #FFFFFF;
        box-shadow: 2px 2px 50px rgba(0, 0, 0, 0.1);
    
    }

    label{
        position: absolute;
        width: 472px;
        height: 80px;
        float:left;
        left:20%;
        top: 110%;

        font-family: Hind;
        font-style: normal;
        font-weight: normal;
        font-size: 36px;
        line-height: 58px;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: -0.017em;
        color: #1F3351;
    }
    

    #text1{
        position: absolute;
        width: 758px;
        height: 73px;
        float:left;
        left:20%;
        top: 120%;
        border: none;
        padding-left: 8px;

        background: #E4E3E3;
    }    
 
    #nav{
        position: absolute;
        float:left;
       left: -350px;
        
    }