
.body{
	background-color: white;
	font-family: Hind;
}
#rec1{
	position: absolute;
width: 490px;
height: 529px;
left: 79px;
top: 243px;

background: #FFFFFF;
box-shadow: 2px 2px 40px rgba(0, 0, 0, 0.15);
border-radius: 20px;}