body, html 
{
    height: 100%;
    margin: 0;
}

.indexBG
{
        position: absolute;
        width: 100%;
        height: 100%;
        
        background-image: url("images/back.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% 100%;

        

        
}

#img    {       

                position: absolute;
                left:12%;
                top:10%;
                
        }

.indexText
{
    position: absolute;
    width: 516.04px;
    height: 263.02px;
    float:left;
    left: 9%;
    top:20%;
     
    font-family: Hind;
    font-style: normal;
    font-weight: normal;
    font-size: 85px;
    line-height: 154px;
    display: flex;
    align-items: center;
    letter-spacing: -0.017em;

    color: #1F3351;
}
.body2
{
    position: absolute;
    Top:110%;
    Left:5%;
}



#TripTitle{
        position: absolute;
        width: 60%;
        height: 30%;
        padding-top: 2%;
        text-align: center;
        font-family: 'Hind';font-size: 32px;
        background-color: #EEEFF3;
        border-radius: 80px;
        }
.OfferEventText
{
    position: absolute;
    font-family: 'Hind';
    font-size: 30px;
    left:5%;
}

.body3
{
    position: absolute;
    Top:150%;
    Left:5%;
    border-radius: 20%;
}

.body4
{
    position: absolute;
    Top:200%;
    Left:5%;
    border-radius: 20%;
}

.body5
{
    position: absolute;
    width: 70%;
    height: 80%;
    Top:280%;
    Left:15%;
    background: #FFFFFF;
    box-shadow: 2px 2px 50px rgba(0, 0, 0, 0.2)
    
}
.body6
{
    position: absolute;
    width: 70%;
    height: 80%;
    Top:380%;
    Left:15%;
    background: #FFFFFF;
    box-shadow: 2px 2px 50px rgba(0, 0, 0, 0.2)
    
}

#line{

        position: absolute;
        width: 596px;
        height: 0px;
        left: 666px;
        top: 20%;

        border: 3px solid #F1D158;
        background-color: #F1D158;
        transform: rotate(-0.1deg);

       }

#line2{

        position: absolute;
        width: 596px;
        height: 0px;
        left: 400px;
        top: 10%;

        border: 3px solid #F1D158;
        background-color: #F1D158;
        transform: rotate(-0.1deg);

       }