<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="userNavBar.css">
</head>
<body>

<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <br>
  <a href="indexH.php">Home</a> <br> <br> <br> <br> <br>
  <a href="RidesH.php">Rides</a> <br> <br> <br> <br> <br>
  <a href="AboutUsH.php">About us</a> <br> <br> <br> <br> <br>
  <a href="ContactUsH.php">Contact us</a> 
</div>

<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>

<script>
function openNav() {
  document.getElementById("mySidenav").style.width = "150px";
}
function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
}
</script>
   
</body>
</html> 
